stages:
  - install
  - build


install_dependencies:
  stage: install
  script:
    - npm install

build_app:
  stage: build
  script:
    - npm install
    - npm run build
prod_job:
  stage: build
  tags: [prod]
  script:
    - echo "Building production assets..."